DEFAULT:
 --cache_dir: '%(testdir)s/../profile_cache/'
 --filename: "%(testdir)s/Linux-3.2.0-4-686-pae.E01"

 pid: 2362

 disabled:
   - TestConvertProfile
   - TestEntityAnalyze
   - TestDisassemble
   - TestJSONParser
   - TestGrep
   - TestPEInfo
   - TestCertScan
   - TestDwarfParser
   - TestDump
   - TestNull
   - TestVmScan
   - TestVersionScan
   - TestEntityDescribe
   - TestLoadAddressSpace
   - TestParsePDB
   - TestImageCopy
   - TestCase
   - TestAFF4Acquire
   - TestEWFAcquire
   - TestRekallBovineExperience3000
   - TestWinMemDump
   - TokenizerTest
   - TestPas2Vas
   - TestDT
   - TestAnalyzer
   - TestBuildProfileLocally
   - TestMemoryTranslation
   - TestHammerMemory

   # These are currently broken until the entity system is finished.
   - TestEntityFind
   - TestIPNetstat
   - TestListZones
   - TestListEvents
   - TestDebugCollector
   - TestEntityStats
   - TestListCollectors
   - TestListTerminals
   - AnalyzerTest
   - ParserTest
   - MatcherTest
   - IdentityTest
   - ProfileTest
   - EntityTest
   - IndexSetTest
   - ValidatorTest
   - SuperpositionTest
   - RunBasedTest

   # This test is broken on this linux kernel version. Pending fixing...
   - TestCheckIdt

TestMls:
 file: "/etc/passwd"

TestMcat:
 file: "/etc/passwd"
 outfile: "outfile"

TestMfind:
 file: "/etc/passwd"

TestModDump:
 driver: floppy

TestCheckProcFops:
 all: True

TestVtoP:
 vaddr: 0xf5916ec0
