DEFAULT:
  --cache_dir: '%(testdir)s/../profile_cache/'
  --filename:  '%(testdir)s/win10.aff4'
  --name_resolution_strategies:
     - Module
     - Symbol
  pids: 3152
  --cache: memory

  # Only run these tests. This turns off automatic test discovery.
  enabled:
    - TestWinPsList
    - TestPoolTracker
    - TestWinDNSCache
    - TestWinSSDT
    - TestLdrModules
    - TestHiveDump
    - TestPrivileges
    - TestPSScan
    - TestPools
    - TestWinRammap

TestHiveDump:
  commandline: hivedump --hive_regex system32.config


TestWinRammap:
    commandline: rammap 0x8a86680