DEFAULT:
  --cache_dir: '%(testdir)s/../profile_cache/'
  --filename:  '%(testdir)s/vmem.e01'
  --name_resolution_strategies:
     - Module
     - Symbol

  disabled:
    - TestBuildIndex
    - TestLoadAddressSpace
    - TestDT  # Already tested under Windows.
    - TestNull
    - JsonTest
    - TestDarwinDumpCompressedPages  # No way to verify and creates junk files.
    - TestDarwinDumpZone  # Slow and kind of pointless to test.
    - TestConvertProfile
    - TestEntityAnalyze
    - TestDisassemble
    - TestJSONParser
    - TestGrep
    - TestPEInfo
    - TestCertScan
    - TestDwarfParser
    - TestDump
    - TestNull
    - TestVmScan
    - TestVADDump  # Creates a bunch of junk files and not really useful.
    - TestVersionScan
    - TestEntityDescribe
    - TestLoadAddressSpace
    - TestParsePDB
    - TestBuildProfileLocally
    - TestMemoryTranslation

    # The following are tested on smaller images already.
    - TestEWFAcquire
    - TestImageCopy
    - TestAFF4Acquire
