DEFAULT:
  --cache_dir: '%(testdir)s/../profile_cache/'
  --filename:  '%(testdir)s/vmem.e01'
  --name_resolution_strategies:
     - Module
     - Symbol

  pids: 232
  --cache: memory

disabled:
    - TestBuildIndex
    - TestLoadAddressSpace
    - TestDT  # Already tested under Windows.
    - TestNull
    - JsonTest
    - TestDarwinDumpCompressedPages  # No way to verify and creates junk files.
    - TestDarwinDumpZone  # Slow and kind of pointless to test.
    - TestConvertProfile
    - TestEntityAnalyze
    - TestDisassemble
    - TestJSONParser
    - TestGrep
    - TestPEInfo
    - TestCertScan
    - TestDwarfParser
    - TestDump
    - TestNull
    - TestVmScan
    - TestVADDump  # Creates a bunch of junk files and not really useful.
    - TestVersionScan
    - TestLoadAddressSpace
    - TestParsePDB
    - TestBuildProfileLocally
    - TestMemoryTranslation
    - TestLive

    # The following are tested on smaller images already.
    - TestEWFAcquire
    - TestImageCopy
    - TestAFF4Acquire
    - TestAFF4Ls
    - TestAFF4Export

# Test search queries:
InlineTests:
  TestSearch1: "search('SELECT * FROM pslist() WHERE (proc.pid < 50) ORDER BY proc.pid')"
  TestSearch2: "search('(ANY pslist() WHERE proc.command =~ \".*?inde.*?\") and (ANY netstat() where socket.last_pid > 1)')"
  TestSearch3: "search('SELECT proc.pid FROM lsof() WHERE fd > 50')"
  TestSearchSubselect: "search('select socket, (select proc from pslist() where proc.pid == socket.last_pid)[\"proc\"] as proc from netstat() where lower(socket.human_type) =~ \"tcp.*\"')"
  TestSearch4: "search('select * from sysctl() where symbol =~ \".*handle_quad.*\"')"
  TestSearchStruct: "search('SELECT proc.p_fd.fd_ofiles[4].human_name FROM pslist() WHERE proc.command == \"Finder\" LIMIT 1')"
  TestSearchIOC: "search('(SELECT proc.p_fd.fd_ofiles[4].vnode.full_path AS path FROM pslist() WHERE proc.command == \"Finder\" LIMIT 1) == (SELECT proc.p_fd.fd_ofiles[4].human_name AS path FROM pslist() WHERE proc.command == \"Finder\" LIMIT 1)')"
# Disabled: This seems to not be submitted yet?
#  TestSearchLookup: "search('lookup(\"_PE_state\", \"PE_state\").result.bootArgs.CommandLine')"

TestPas2Vas:
  offset: 0x15ca7000

TestVtoP:
  vaddr:  0x00010b818000

TestSigScanPhysical:
  signature: 2f55736572732f76626f782f74696e646572626f782f342e332d6d61632d72656c2f6f75742f64617277696e2e616d6436342f72656c656173652f6f626a2f56426f7856676142696f732f56426f7856676142696f732e73796d

TestSigScanKernel:
  signature: 2f55736572732f76626f782f74696e646572626f782f342e332d6d61632d72656c2f6f75742f64617277696e2e616d6436342f72656c656173652f6f626a2f56426f7856676142696f732f56426f7856676142696f732e73796d

# No TestDarwinSigScanProcess, since pretty much all userland was removed from this image.

TestYara:
  string: talagent
