DEFAULT:
  --cache_dir: '%(testdir)s/../profile_cache/'
  --filename:  '%(testdir)s/Evo4GRodeo.aff4'
  --profile: '%(testdir)s/Evo4G.json'
  --name_resolution_strategies:
     - Module
     - Symbol
  pid: 1872
  proc_name: sh
  cache: memory

disabled:
   - TestConvertProfile
   - TestEntityAnalyze
   - TestDisassemble
   - TestJSONParser
   - TestGrep
   - TestPEInfo
   - TestCertScan
   - TestDwarfParser
   - TestDump
   - TestNull
   - TestVmScan
   - TestVersionScan
   - TestEntityDescribe
   - TestLoadAddressSpace
   - TestParsePDB
   - TestImageCopy
   - TestCase
   - TestEWFAcquire
   - TestRekallBovineExperience3000
   - TestWinMemDump
   - TokenizerTest
   - TestPas2Vas
   - TestDT
   - TestAnalyzer
   - TestBuildProfileLocally
   - TestMemoryTranslation
   - TestHookHeuristics
   - TestLive
   - TestAFF4Acquire
   - TestAFF4Ls
   - TestAFF4Export
   - RunBasedTest
   - MemoryMapTest
   - JsonTest

   # This test is broken on this linux kernel version. Pending fixing...
   - TestCheckIdt

   # Tests that are broken in android
   - TestCpuInfo
   - TestSigScanKernel
   - TestSigScanPhysical
   - TestSigScanProcess

TestMls:
 file: "/etc/passwd"

TestMcat:
 file: "/etc/passwd"
 outfile: "outfile"

TestMfind:
 file: "/etc/passwd"

TestModDump:
 driver: lime

TestCheckProcFops:
 all: True

TestVtoP:
 vaddr: 0x0000cb404800

TestYara:
  string: lime
