DEFAULT:
 --cache_dir: '%(testdir)s/../profile_cache/'
 disabled:
   - JsonTest
   - TestConvertProfile
   - TestEntityAnalyze
   - TestDisassemble
   - TestJSONParser
   - TestGrep
   - TestPEInfo
   - TestCertScan
   - TestDwarfParser
   - TestDump
   - TestNull
   - TestVmScan
   - TestVersionScan
   - TestEntityDescribe
   - TestLoadAddressSpace
   - TestParsePDB
   - TestHookHeuristics
