DEFAULT:
  --cache_dir: '%(testdir)s/../profile_cache/'
  --filename:  '%(testdir)s/win7.elf.E01'
  --name_resolution_strategies:
     - Module
     - Symbol
  pids: 1724
  --cache: memory

  # Only run these tests. This turns off automatic test discovery.
  enabled:
    - TestWinPsList
    - TestCmdScan
    - TestCommandScan
    - TestConsoleScan
    - TestConsoles
    - TestMftDump
    - TestMimikatz
    - TestPoolTracker
    - TestWinDNSCache
    - TestWinEventHooks
    - TestWinSSDT
    - TestPSScan
    - TestMimikatz
    - TestPrivileges
    - TestYara
    - TestSearchPlugin

InlineTests:
  # Test the search plugin.
  TestSearchPlugin: |
    print "Describe pslist()"
    describe(pslist)
    print "All Wow64 processes:"
    query = "select _EPROCESS, session_id, wow64 from pslist() where wow64"
    print query
    search(query)

    print "struct introspection and sorting."
    query = """
      select _EPROCESS.name, _EPROCESS.pid, wow64 from pslist() where
        _EPROCESS.name =~ 'svchost' order by _EPROCESS.pid desc
    """
    print query
    search(query)

    query = """
      select _EPROCESS.name, _EPROCESS.pid, _EPROCESS.FullPath,
             _EPROCESS.SeAuditProcessCreationInfo.ImageFileName.Name as audit_name
             from pslist() where not (_EPROCESS.FullPath =~ 'Windows')
    """
    print query
    search(query)

    query = """
    let user_a_processes=select Process.pid from tokens() where Comment =~ 'User: a'
    select _EPROCESS, handle, access, details from handles(pids: user_a_processes) where details =~ 'pmem'
    """
    print query
    search(query)


TestYara:
  string: Microsoft
  proc_regex: csrss
