DEFAULT:
  --cache_dir: '%(testdir)s/../profile_cache/'
  --filename:  '%(testdir)s/win7.elf.E01'
  --name_resolution_strategies:
     - Module
     - Symbol
  pid: 1724
  cache: memory

  # Only run these tests. This turns off automatic test discovery.
  enabled:
    - TestWinPsList
    - TestCmdScan
    - TestCommandScan
    - TestConsoleScan
    - TestConsoles
    - TestMftDump
    - TestMimikatz
    - TestPoolTracker
    - TestWinDNSCache
    - TestWinEventHooks
    - TestWinSSDT
    - TestPSScan
    - TestMimikatz
    - TestPrivileges
