DEFAULT:
 --cache_dir: '%(testdir)s/../profile_cache/'
 --filename: "%(testdir)s/ntfs1-gen1.E01"
 --profile: ntfs
 disabled:
   - JsonTest
   - TestConvertProfile
   - TestEntityAnalyze
   - TestDisassemble
   - TestJSONParser
   - TestGrep
   - TestPEInfo
   - TestCertScan
   - TestDwarfParser
   - TestDump
   - TestNull
   - TestVmScan
   - TestVersionScan
   - TestEntityDescribe
   - TestLoadAddressSpace
   - TestParsePDB
   - TestBuildProfileLocally

   # The following don't work because rekall can't load additional profiles
   # with a --profile argument. (See github.com/google/rekall/issues/47).
   - TestRekallBovineExperience3000
   - TestEntityFind
   - TestIPNetstat
   - TestListZones
   - TestListEvents
   - TestDebugCollector
   - TestEntityStats
   - TestListCollectors
   - TestListTerminals
   - TestMemoryTranslation

   # The following are tested on smaller images already.
   - TestEWFAcquire
   - TestImageCopy


 mft: 42
 path: RAW/20076517123273.pdf

TestFLS:
 path: /

TestIDump:
 mft: 42

TestDT:
 commandline: dt MFT_ENTRY

TestIExport:
 mfts: 40

TestIStat:
 mfts: 40