DEFAULT:
 --filename: "%(testdir)s/ntfs1-gen1.E01"
 --profile: ntfs
 disabled:
   - JsonTest
   - TestConvertProfile
   - TestEntityAnalyze
   - TestDisassemble
   - TestJSONParser
   - TestGrep
   - TestPEInfo
   - TestCertScan
   - TestDwarfParser
   - TestDump
   - TestNull
   - TestVmScan
   - TestVersionScan
   - TestEntityDescribe
   - TestLoadAddressSpace
   - TestParsePDB

   # These are currently broken until the entity system is finished.
   - TestEntityFind
   - TestIPNetstat
   - TestListZones
   - TestListEvents
   - TestDebugCollector
   - TestEntityStats
   - TestListCollectors
   - TestListTerminals


 mfts: 42 40
 path: RAW/20076517123273.pdf

TestFLS:
 path: /

TestIDump:
 mft: 42

TestDT:
 commandline: dt MFT_ENTRY