DEFAULT:
  --cache_dir: '%(testdir)s/../profile_cache/'
  --filename: "%(testdir)s/ntfs1-gen1.E01"
  --profile: ntfs
  --cache: memory

  mft: 42
  path: RAW/20076517123273.pdf

TestFLS:
 path: /

TestIDump:
 mft: 42

TestDT:
 commandline: dt MFT_ENTRY

TestIExport:
 mfts: 40

TestIStat:
 mfts: 40

disabled:
   - JsonTest
   - TestConvertProfile
   - TestEntityAnalyze
   - TestDisassemble
   - TestJSONParser
   - TestGrep
   - TestPEInfo
   - TestCertScan
   - TestDwarfParser
   - TestDump
   - TestNull
   - TestVmScan
   - TestVersionScan
   - TestEntityDescribe
   - TestLoadAddressSpace
   - TestParsePDB
   - TestBuildProfileLocally
   - TestHammerMemory
   - TestLive
   - TestSearch
   - TestCollect
   - TestExplain
   - TestWhichPlugin

   # The following don't work because rekall can't load additional profiles
   # with a --profile argument. (See github.com/google/rekall/issues/47).
   - TestRekallBovineExperience3000
   - TestMemoryTranslation

   # The following are tested on smaller images already.
   - TestEWFAcquire
   - TestImageCopy
   - TestAFF4Acquire
   - TestAFF4Ls
   - TestAFF4Dump
   - TestAFF4Export
   - TestLookup

TestSimpleYaraScan:
   commandline: simple_yarascan --binary_string 320030003000370036003500310037003100320033003200370033002e00700064006600 --hits 1